<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cpaisecretplacedevotional">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Secret Place"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ui.DevotionalOnBoardingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name="ui.ListOfDevotionalNotesActivity"
            android:parentActivityName="ui.MainActivity"/>
        <activity
            android:name="ui.MonthDevotionalsPerYearActivity"
            android:parentActivityName="ui.MainActivity" />
        <activity android:name=".DailyDevotionalsPerMonthActivity" />
        <activity
            android:name="ui.DevotionalSettingsActivity"
            android:parentActivityName="ui.MainActivity" />
        <activity
            android:name="ui.DevotionalNoteActivity"
            android:parentActivityName="ui.DevotionalActivity" />
        <activity
            android:name="ui.DevotionalActivity"
            android:parentActivityName="ui.MainActivity" />
        <activity
            android:name="ui.DevotionalSplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.MainActivity"
            android:theme="@style/AppTheme"></activity>

        <receiver
            android:name="receiver.DevotionalBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>